body {
    padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

.domainrow {
    margin-bottom: 20px;
    margin-top: 10px;
}

.domainbox {
    background-color: #eeeeee;
    border-radius: 3px 3px 3px 3px;
    height: 50px;
    text-align: center;
}
.domainbox:hover {
    background-color: #ddd;
}

.domainbox_inner {
    padding: 5px;
}